/* You can add global styles to this file, and also import other style files */
@import "mapbox-gl/dist/mapbox-gl.css";


body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  padding: 40px;
}

h1 {
  color: #222;
}
